<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="stylesheet" href="../css/aboutUs.css" />
  </head>
  <body>
    <nav class="navigation" id="navigation">
      <div class="navigationLinks1">
        <a href="../index.html"><img src="../images/logo2.png" alt=""><br>VALENCE</a>
      </div>
      <div class="navigationLinks2">
        <a href="../views/ourDoctors.html"><button><img src="../images/nurse_7024848.png" alt="">Our Doctors</button></a>
        <a href="../views/kits.html"><button><img src="../images/equipment_5986725.png" alt="">Our Kits</button></a>
        <a href="../views/joinCommunity.html"><button><img src="../images/link_4948833.png" alt="">Join the Community</button></a>
        <a href="">
          <div class="dropdown">
            <a href="#"><button><img src="../images/user-protection_8184375.png" alt="">Personalized Care</button></a>
            <div class="dropdown-menu">
              <a href="../views/diabeticCare.html"><img src="../images/right-down_5712572.png">Diabetic Care</a>
              <a href="../views/diabeticCare.html"><img src="../images/right-down_5712572.png">Hypertensive Care</a>
              <a href="../views/diabeticCare.html"><img src="../images/right-down_5712572.png">Blood Pressure Care</a>
              <a href="../views/diabeticCare.html"><img src="../images/right-down_5712572.png">HIV/AIDS Care</a>
            </div>
          </div>
          <a href="">
            <div class="dropdownorg">
              <a href="#"><button><img src="../images/user-protection_8184375.png" alt="">Support</button></a>
              <div class="dropdown-menu-org">
                <a href="../views/contactUs.html"><button><img src="../images/right-down_5712572.png" alt="">Contact Us</button></a>
                <a href="../views/aboutUs.html"><button><img src="../images/right-down_5712572.png" alt="">About Us</button></a>
              </div>
            </div>
          </a>
      </div>
      <div class="navigationLinks3">
        <a href="./login.html"><button class="button1">Log in</button></a>
        <a href="./signUp.html"
        ><button class="button2">Sign Up</button></a
        >
      </div>
      <div class="hamburger" id="hamburger">
        <div class="hamburgerMenuBar"></div>
        <div class="hamburgerMenuBar"></div>
        <div class="hamburgerMenuBar"></div>
        <div class="hamburgerMenuBar"></div>
        <div class="links">
          <a href="../views/login.html" class="login">Log In</a>
          <a href="../views/signUp.html" class="signup">Sign Up</a>
          <a href="../views/ourDoctors.html">Our Doctors</a>
          <a href="../views/kits.html">Our Kits</a>
          <a href="#">Join the Community</a>
          <a href="../views/diabeticCare.html">Personalized Care</a>           
          <a href="../views/contactUs.html">Contact Us</a>
          <a href="../views/aboutUs.html" class="lastLinka">About Us</a>
        </div>
    </div>
    </nav>

    <section class="allContents">
      <section class="aboutUs">
        <p class="heading"><button></button>About Us</p>
        <p class="readUs">Valence was founded in the year 2023, with Sang David as CEO <br> and Founder. Valence is sponsored by big organizations round <br> the world. Like, Google, JBL and VS. We have collaborators who <br> work with Doctors to issue Kits and Drugs to users who need it <br> at Home. Large Pharmaceutical Industries in Nigeria whose aim <br> is to make life easy are part of the collaborators. We provide ex<br>pert Medical practitioners on the platform, don't hesitate to talk <br> to any of them for help when you need it.</p>
      </section>
  
      <section class="ourVision"><p class="heading"><button></button>Our Vission</p><p class="vision">Our Vision is to provide platform where users can be comfortable and trust our services where ever they are in the Country. We hope to collaborate with Diety in the future to support our Special Patients with a Diety time table.</p></section>
  
  
      <section class="ourMission">
        <p class="heading"><button></button>Our Mission</p>
        <p class="mission">Our Mission is loooking to impact lives by providing our users <br> the  following: 
          <ul>
            <li>Save  Time,</li>
            <li>Provide Comfort,</li>
            <li>Provide Income,</li>
            <li>Provide Closure,</li>
            <li>Save Transportation,</li>
            <li>Save Energy,</li>
            <li>Provide Satisfaction.</li>
          </ul>
        </p>
      </section>
  
  
      <section class="ourSponsors"><p class="heading"><button></button>Our Sponsors</p >
        <p class="sponsors">We have organizations who partner and sponsor our activities, they include:
          <ul>
            <li>Google,</li>
            <li>JBL,</li>
            <li>V & S,</li>
            <li>V Organizations.</li>
          </ul>
        </p>
      </section>
  
      <section class="ourCollaborators">
        <p class="heading"><button></button>Our Collaborators</p >
        <p class="collaborators">We have Collaborators who supply our Kits and Drugs per order.  <br>They include:
    
        </p>
      </section>

    </section>
  </body>
  <script src="../js/aboutUs.js"></script>
  <footer>
    <div class="footerSection">
      <div class="getStarted">
        <p class="getStartedp1">Contact Us about anything!</p>
        <p class="getStartedp2">
         Contact Us with your observations, suggestions <br> and questions via ths link.
        </p>
      </div>
      <div class="getStartedButton">
        <a href="../views/contactUs.html"><Button>Contact Us</Button></a>
      </div>
    </div>

    <div class="footerLinks">
      <div class="unordered">
        <ul>
          <h6>ACTIVITIES</h6><br>
          <a href="../views/ourDoctors.html">Meet Doctors</a><br>
          <a href="../views/joinCommunity.html">Join Conversation</a><br>
          <a href="../views/kits.html">Kit</a><br>
        </ul>
        <ul>
          <h6>App</h6><br>
          <a href="../views/aboutUs.html">About Us</a><br>
          <a href="">Collections</a><br>
        </ul>
        <ul>
          <h6>SUPPORT</h6><br>
          <a href="../views/contactUs.html">Contact Us</a><br>
        </ul>
        <ul>
          <h6>INFORMATION</h6><br>
          <a href="">Privacy Policy</a><br>
          <a href="">Terms Of Use</a><br>
        </ul>
      </div>
      <div class="valenceLogo">
        <a href="../index.html">VALENCE</a>
        <img src="../images/logo2.png" alt="">
      </div>
    </div>
     <div class="copywright">
          <ul>
              <li>@2023 VALENCE</li>
          </ul>
      </div> 
      
  </footer>
</html>